.input-text {
  width: 40vw;
  height: 2vh;
  border: 1px solid black;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
}

.comment-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  overflow: hidden;
}

input {
  padding: 10px 40px;
  border-radius: 20px;
}
