.textReply {
  margin: 20px;
}

.text {
  margin: 12px;
}
.btn {
  background-color: blue;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.replyInputWrapper {
  margin-left: 35px;
}

.replyComment {
  margin: 10px 40px;
}
